.container
  %table.table.table-striped
    %tr
      %th Photos
      %th Name
      %th Price
      %th
      %th Winner
    - @auctions.each do |auction|
      %tr
        %td
        %td= link_to auction.name, auction_path(auction)
        %td= auction.initial_price
        - if auction.ended_at.present?
          %td
            .btn.btn-info.btn-xs Ended       
        - else
          %td= link_to "End auction", end_auction_path(auction) ,class: 'btn btn-danger btn-xs'
        %td= auction.winner_id
