.container
  = simple_form_for @auction do |f|
    .input
      = f.input :name, :placeholder => "Title"
      = f.input :description, :placeholder => "Description"
      = f.input :initial_price
      .container
        .input-group
          = f.input :starts_at
          = f.input :end_time
    .actions
      = f.button :submit, class: "btn btn-success"