.container
  %h1
    = @auction.name
  %table.table
    %tr
      %th User
      %td= @auction.user_id
    %tr
      %th Description
      %td
        = @auction.description
    %tr
      %th Current price
      %td
        = @current_price

.container
  %table.table.table-striped
    %tr
      %th Date
      %th User
      %th Price
    - @bids.each do |bid|
      %tr 
        %td= bid.created_at
        %td= bid.user_id
        %td= bid.max_price



.container
  = simple_form_for @bid, url: auction_bids_path(auction_id: @auction.id) do |f|
    .input
      = f.input :max_price
    .actions
      = f.button :submit, "Submit", class: 'btn btn-success'