<h4> Logged as: <%= @user %></h4>

<div class="container" style="text-align: right">
  <% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-sm' %>
  <% else %>
    <%= link_to "Sign_in", sign_in_path, class: 'btn btn-success btn-sm' %>
  <% end %>


  <%= link_to "New auction", new_auction_path, class: 'btn btn-primary btn-sm' %>
</div>