.container
  %h4 
    Logged as:
    = @user

  - if current_user
    = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-sm'
  - else 
    = link_to "Sign_in", sign_in_path, class: 'btn btn-success btn-sm'

  = link_to "New auction", new_auction_path, class: 'btn btn-primary btn-sm'

%br

.container
  %table.table.table-striped
    %tr
      %th Photos
      %th Name
      %th Price
      %th User
      %th
    - @auctions.each do |auction|
      %tr
        %td
        %td= link_to auction.name, auction_path(auction)
        %td= auction.initial_price
        %td= auction.user.email
        - if auction.ended_at.present?
          %td
            .btn.btn-danger.btn-xs Ended 
        - else       
          %td= link_to "Buy", auction_path(auction), class: 'btn btn-primary btn-xs'

= link_to "My auctions", my_auctions_path

