<!DOCTYPE html>
<html>
<head>
  <title>Allegro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="text-center"> <%= link_to "Allegro", root_path%> </h1>

<%= yield %>

</body>
</html>
